<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887751415351-ajufr9rfqoakr0ui0jib92f1gfqak2qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887751415351-ajufr9rfqoakr0ui0jib92f1gfqak2qe</string>
	<key>API_KEY</key>
	<string>AIzaSyAehbJO6urJN3K8qjnbOg7icNLXWlt7F3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>887751415351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eternalenterprise.urunan</string>
	<key>PROJECT_ID</key>
	<string>cheapedin-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>cheapedin-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887751415351:ios:76cc5db53b9961f74e11b2</string>
</dict>
</plist>